<p>
    {{__ "Thank you for signing up to join Free map!"}}
</p>
<p>
    {{__ "To complete your registration and confirm your email address, please click the following link"}}
    <a href="http://free.map/confirm/{{confirmationId}}">{{__ "Activate My Account"}}</a>
</p>
<p>
    {{__ "If this link doesn’t work, please copy it into your browser’s address bar:"}}
    http://free.map/confirm/{{confirmationId}}
</p>